/* ------- Generalt ----- */

* {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

body {
    background-color: #E1E1E1;
}

#wrapper {
    margin: auto;
}


header {
    position: inherit;
    text-align: center;
    float: left;
    width: 20%;
    background-color: #E1E1E1;
    z-index: 1;
}

/* ------ logo --------- */

.logo {
    top: inherit;
    left: inherit;
    position: static;
    width: auto;
    height: auto;
    margin-top: 20px;
    z-index: 1;
}

.logo img {
    width: 60%;
}


/* ------ menu --------- */

#fixnav {
    position: fixed;
    width: 216px;
    z-index: 1;
}

#menu,
#menu ul,
#menu ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}

#menu ul {
    position: relative;
    z-index: 1;
    float: left;
}

#menu ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle;
}

#menu ul li.hover,
#menu ul li:hover {
    position: relative;
    z-index: 1;
    cursor: default;
}

#menu ul ul {
    margin-top: 1px;
    visibility: hidden;
    position: absolute;
    top: 1px;
    left: 99%;
    z-index: 1;
    width: 100%;
}


#menu ul li:hover > ul {
    visibility: visible;
}

#menu ul li {
    float: none;
}

/* Custom CSS Styles */

#menu {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    width: 200px;
    margin-top: 7vw;
}

#menu ul a,
#menu ul a:link,
#menu ul a:visited {
    display: block;
    color: #848889;
    text-decoration: none;
    font-weight: 300;
}

#menu ul {
    float: none;
}

#menu ul {
    background: #E1E1E1;
}

#menu ul li {
    border-left: 3px solid #E1E1E1;
}

#menu ul li a {
    padding: 10px 20px;
}

#menu ul li:hover {
    border-left: 3px solid #E1E1E1;
}

#menu ul li:hover a {
    color: #B9B9B9;
}

#menu > ul > li:hover {
    background: #f6f6f6;
}

/* Sub Menu */

#menu ul ul {
    width: 180px;
    background: none;
    border-left: 20px solid transparent;
}

#menu ul ul a {
    padding: 8px 0;
    border-bottom: 1px solid #E1E1E1;
}

#menu ul ul li {
    padding: 0 20px;
    background: #fff;
    z-index: 1;
}

#menu ul ul li:last-child {
    border-bottom: 3px solid #E1E1E1;
    padding-bottom: 10px;
}

#menu ul ul li:first-child {
    padding-top: 10px;
}

#menu ul ul li:last-child a {
    border-bottom: none;
}

.footer {
    position: fixed;
    width: 20vw;
    text-align: center;
    color: white;
    bottom: 0;
    padding: 1em;
    word-break: keep-all;
}

/* --------- generelt --------- */

#content {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 19vw;
    padding-left: 20vw;
    float: right;
    width: 80%;

}

#content div {
    float: none;
    width: 100vw;
    height: 100vw;
    text-align: center;
    color: white;
    width: 40vw;
    height: 40vw;
    max-height: 432px;
    max-width: 432px;
}

#content div a div {
    opacity: 0;
    position: relative;
    top: 4vw;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    padding: 5%;
    background: #FFF no-repeat center;
    transition: opacity 1s, color .8s;
}

#content div a {
    text-decoration: none;
}

#content div a div:hover {
    color: #888888;
    background: #FFF no-repeat center;
    opacity: 1;
}

#content div h2 {
    font-weight: 600;
    font-size: 5vw;
}

#content div h3 {
    margin-top: 8vw;
}



/* --------- BILLEDER --------- */

#aboutme {
    background: url("img/mig.png") no-repeat center;
    background-size: cover;
    margin-bottom: 5vw;
    border: 2px solid #B9B9B9;
}

#theme1 {
    background: url("img/swiss.png") no-repeat center;
    background-size: cover;
    margin-bottom: 5vw;
    border: 2px solid #B9B9B9;
}

#theme2 {
    background: url("img/plaza.png") no-repeat center;
    background-size: cover;
    margin-bottom: 5vw;
    border: 2px solid #B9B9B9;
}

#theme3 {
    background: url("img/plazavideo.png") no-repeat center;
    background-size: cover;
    margin-bottom: 5vw;
    border: 2px solid #B9B9B9;
}

#theme4 {
    background: url("img/laura.png") no-repeat center;
    background-size: cover;
    margin-bottom: 5vw;
    border: 2px solid #B9B9B9;
}

#theme5 {
    background: url("img/karma.png") no-repeat center;
    background-size: cover;
    margin-bottom: 5vw;
    margin-bottom: 5vw;
    border: 2px solid #B9B9B9;
}

#theme6 {
    background: url("img/sogs.png") no-repeat center;
    background-size: cover;
    margin-bottom: 5vw;
    border: 2px solid #B9B9B9;
}

#theme7 {
    background: url("img/keaapp.png") no-repeat center;
    background-size: cover;
    margin-bottom: 5vw;
    border: 2px solid #B9B9B9;
}

#theme8 {
    background: url("img/joeapp.png") no-repeat center;
    background-size: cover;
    margin-bottom: 5vw;
    border: 2px solid #B9B9B9;
}

/* -------- LINKS */

.links {
    background-color: #888888;
    padding-top: 15px;
    height: 130px;
}

.links li {
    margin: 15px auto;
}

.links a {
    color: #fff;
    font-size: 6vw;
    font-weight: 500;
    text-decoration: none;
}

.links a:hover {
    color: #C3C3C3;
}


/* ----------- Side menu ------- */

.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
    padding-top: 60px;
    overflow-x: hidden;
    background-color: #f1f1f1;
    list-style-type: none;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    color: #818181;
    display: block;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding: 8px 8px 8px 32px;
    transition: 0.3s;

    cursor: pointer;
}

.sidenav.show {
    width: 250px;
}

.menubutton {
    font-size: 23px;
    cursor: pointer;
    margin-left: 3vw;
    display: none;
}

/* ------------------ STIL ART --------------- */

/* billedefade */

#billede-sprite {
    background-image: url(img/stil1.png);
    background-size: 100%, 100%;
    position: absolute;
    top: -14vw;
    border: 2px solid #B9B9B9;
    width: 60vw;
    height: 40vw;
    left: -9vw;
    z-index: 5;
}


#billede-container {
    position: absolute;
}

#billede-sprite:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#billede2-sprite {
    background-image: url(img/amberersej.png);
    background-size: 100%, 100%;
    position: absolute;
    top: -15vw;
    border: 2px solid #B9B9B9;
    width: 45vw;
    height: 41.8vw;
    left: -1.5vw;
}


#billede2-container {
    position: absolute;
}

#billede3-sprite {
    background-image: url(img/plazaredesign.png);
    background-size: 100%, 100%;
    position: absolute;
    top: -15vw;
    border: 2px solid #B9B9B9;
    width: 60vw;
    height: 40vw;
    left: -10vw;
}

#billede3-container {
    position: absolute;
}

#billede4-sprite {
    background-image: url(img/nudes.png);
    background-size: 100%, 100%;
    position: absolute;
    top: 5vw;
    border: 2px solid #B9B9B9;
    width: 60vw;
    height: 40vw;
    top: -14vw;
    left: -10vw;
}

#billede4-container {
    position: absolute;
}

#billede5-sprite {
    background-image: url(img/joeapp.png);
    background-size: 100%, 100%;
    position: absolute;
    top: -14vw;
    border: 2px solid #B9B9B9;
    width: 60vw;
    height: 40vw;
    left: -10vw;
}

#billede5-container {
    position: absolute;
}

#billede6-sprite {
    background-image: url(img/keaapp.png);
    background-size: 100%, 100%;
    position: absolute;
    top: -14vw;
    border: 2px solid #B9B9B9;
    width: 60vw;
    height: 40vw;
    left: -8vw;
}

#billede6-container {
    position: absolute;
}

.fade {
    animation-name: fade;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade {
    from {
        opacity: .1;
    }
    to {
        opacity: 1;
    }
}

.textside {
    animation-name: textside_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes textside_kf {
    from {
        margin-left: -180vw;
        opacity: .2;
    }
    to {
        opacity: 1;
    }
}



/* --------STYLE------  */

#content2 {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 19vw;
    padding-left: 20vw;
    float: right;
    width: 80%;
    height: 100%
}

#content2 div {
    float: none;
    text-align: center;
    color: white;
}

#content3 {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 19vw;
    padding-top: 0vw;
    padding-left: 20vw;
    margin-top: -15vw;
    float: right;
    width: 80%;
    height: 100%
}

#content3 div {
    float: none;
    text-align: center;
    color: white;
}


.text_div {
    background-color: #888888;
    width: 130%;
    height: 6vw;
    padding: 1vw;
    margin-top: 30vw;
    text-align: center;
    top: 29vw;
    border: 1px solid;
    box-shadow: 5px 10px 8px #888888;

}

.text_div:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


h6 {
    font-size: 1em;
    color: black;
    text-shadow: 2px 2px 4px #000000;
}

#stilart img {
    width: 120%;
    height: inherit;
    margin-left: -4vw;
    margin-top: 4vw;
}


#redesign img {
    width: 120%;
    height: inherit;
    margin-left: -4vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

/* ----------- video -------- */

.hs-responsive-embed-youtube iframe {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    margin-left: -20vw;
    margin-top: -3vw;
    width: 100%;
}

.hs-responsive-embed-youtube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    margin-bottom: -50vw;
    width: 100%;
    height: inherit;
}

#plazavideo .textside,
#cphdox .textside {
    animation-name: fade;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}




/* ---------- Karma -------- */

#styletile_container {
    background-image: url("karma/grafik/styletile.png");
    background-size: 162%;
    position: absolute;
    background-size: cover;
    top: 10vw;
    border: 2px solid #B9B9B9;
    width: 50vw;
    height: 28.25vw;
    left: 36vw;

}

.styletile_move {
    animation-name: styletile_move_kf;
    animation-duration: 2s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;
}

@keyframes styletile_move_kf {

    from {
        background-position: 0 0;
    }
    to {
        background-position: -200% 0;
    }
}


/* -------- ommig--------- */

.container {
    width: 100%;
    background-color: #ddd;
}

.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
    color: white;
}

.html {
    width: 40%;
    background-color: #FEF7D6;
}

.css {
    width: 40%;
    background-color: #FEF7D6;
}

.js {
    width: 10%;
    background-color: #FEF7D6;
}

.php {
    width: 40%;
    background-color: #FEF7D6;
}



/*---------------------Media queries-------------------*/

@media screen and (max-width: 1100px) {

    .text_div {
        width: 130%;
        height: 7vw;
        padding: 1vw;

    }
}

@media screen and (max-width: 1000px) {

    #fixnav {
        position: fixed;
        width: 220px;
        margin-left: -10px;
    }
}

@media screen and (max-width: 950px) {

    #fixnav {
        position: fixed;
        width: 220px;
        margin-left: -20px;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        transition: 0.5s;
        padding-top: 60px;
        overflow-x: hidden;
        background-color: #f1f1f1;
        list-style-type: none;
    }
    li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #555;
        color: white;
    }

    .sidenav .closebtn {
        position: absolute;
        color: #818181;
        display: block;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        padding: 8px 8px 8px 32px;
        transition: 0.3s;

        cursor: pointer;
    }

    .sidenav.show {
        width: 250px;
    }

    .menubutton {
        font-size: 23px;
        cursor: pointer;
        margin-left: 3vw;
        display: block;
    }

    .logo {
        top: inherit;
        left: inherit;
        position: static;
        width: auto;
        height: auto;
        margin-top: 20px;
        z-index: 1;
        display: none;
    }

    #wrapper #fixnav {
        position: fixed;
        width: 216px;
        display: none;

    }

    .footer2 {
        position: fixed;
        width: 20vw;
        text-align: center;
        color: white;
        bottom: 0;
        padding: 1em;
        word-break: keep-all;
        left: 4vw;
    }

    #content {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        padding: 20vw;
        padding-left: 30vw;
        float: right;
        width: 100%;
    }

    #content2 {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        padding: 20vw;
        padding-left: 30vw;
        float: right;
        width: 100%;
    }

    #content3 {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        padding-left: 30vw;
        float: right;
        width: 100%;
    }

    h4 {
        font-size: 1.3em;
        color: #E1E1E1;
    }

    #billede6-sprite {
        left: -5vw;
    }

    #billede5-sprite {
        left: -5vw;
    }
    #billede4-sprite {
        left: -5vw;
    }
    #billede3-sprite {
        left: -5vw;
    }
    #billede2-sprite {
        left: 3vw;
    }
    #billede-sprite {
        left: -5vw;
    }

    .hs-responsive-embed-youtube iframe {
        margin-left: -25vw;
        margin-top: -9vw;
        width: 100%;
    }

    #styletile_container {
        left: 30vw;
        top: 17vw;

    }

}


@media screen and (max-width: 800px) {

    .text_div {
        width: 130%;
        height: 9vw;
        padding: 1vw;

    }
}

@media screen and (max-width: 600px) {

    .text_div {
        width: 130%;
        height: 9vw;
        padding: 1vw;

    }

    h5 {
        color: white;
        font-size: 2em;
        text-align: center;
        display: inline-block;
    }
}

@media screen and (max-width: 500px) {

    .text_div {
        width: 130%;
        height: 9vw;
        padding: 1vw;

    }

    h5 {
        color: white;
        font-size: 1.5em;
        text-align: center;
        display: inline-block;
    }

    #content {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        padding-left: 25vw;
        padding-right: 20vw;
        float: right;
        width: 100%;
    }

    #content2 {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        padding-left: 20vw;
        padding-right: 25vw;
        float: right;
        width: 100%;
    }

    #content3 {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        padding-left: 20vw;
        padding-right: 20vw;
        float: right;
        width: 100%;
    }

    #billede6-sprite {
        left: 0vw;
    }
    #billede5-sprite {
        left: 0vw;
    }
    #billede4-sprite {
        left: 0vw;
    }
    #billede3-sprite {
        left: 0vw;
    }
    #billede2-sprite {
        left: 5vw;
    }
    #billede-sprite {
        left: 0vw;
    }


    #plazavideo #content2 {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        padding-left: 25vw;
        padding-right: 25vw;
        float: right;
        width: 100%;

    }

    #styletile_container {
        left: 23vw;
        top: 17vw;

    }

}
